.login__icon{
    max-width: 75px;
    max-height: 75px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.login__svg{
    max-height: 350px;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    justify-content: center;
    left: 50%;
    margin-bottom: 0.4rem;
}